* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f8;
  font-family: "Segoe UI", Tahoma, sans-serif;
  padding: 30px;
}

.app-container {
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #222;
}

/* Card layout */
.card {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

/* Add Task Form */
.form-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.form-row input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-row input:focus {
  outline: none;
  border-color: #4f46e5;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f1f5f9;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

th {
  /* text-align: left; */
  color: #374151;
}

tbody tr:hover {
  background-color: #b5cbe0;
}

/* Buttons */
button {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Button Variants */
.primary-btn {
  background: #4f46e5;
  color: #fff;
}

.primary-btn:hover {
  background: #4338ca;
}

.edit-btn {
  background: #0ea5e9;
  color: white;
  
}

.save-btn {
  background: #22c55e;
  color: white;
  margin-right: 5px;
}

.cancel-btn {
  background: #9ca3af;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

/* Inputs inside table */
td input {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
