h1{
  text-decoration: underline;
}

table {
  text-align: center;
  border: 2px solid black;

  /* centers the table horizontally */
  margin: 20px auto;

  /*  makes borders cleaner */
  border-collapse: collapse;

  /* optional, to control table width */
  /* width: 60%; */
}

td, th {
  border: 2px solid black;
  padding: 3px;
}

li, ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* centers items */
  gap: 20px; /* optional: adds spacing between List and Add */
  padding: 0;
  margin: 0 auto; /* centers ul itself */
  width: fit-content; /* shrink ul to content */
}
